<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="/postProduct" method="POST">
        <label for="id">ID:</label>
        <input id="id" type="number" name="id">
        <br><br>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title">
        <br><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price">
        <br><br>
        <label for="description">Description: </label>
        <input type="text" id="description" name="description">
        <br><br>
        <label for="category">Category:</label>
        <input type="text" id="Category" name="category">
        <br><br>
        <label for="image">Image:</label>
        <input type="file" id="image" accept=".jpg, .png" name="image">
        <br><br>
        <label for="rate">Rate:</label>
        <input type="number" id="rate" name="rate">
        <br><br>
        <label for="count">Count:</label>
        <input type="number" id="count" name="count">
        <br><br>
        <input type="submit" value="Submit" name="submit">
    </form>
</body>
</html>